<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Conference Planner: Overview</title>
<link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Conference Planner</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="">Overview</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="container mt-4">
		<h1>Overview</h1>


		<th:block th:if="${conferences.size} != 0">
			<p class="lead">There are some upcoming conferences. Let's have a look.</p>
			<div class="grid mt-5">
				<div class="g-col-6 g-col-md-4">
					<div class="card" th:each="conference : ${conferences}">
						<div class="card-body">
							<div class="h5 card-title" th:text="${conference.title}"></div>
							<p class="card-text" th:text="${conference.description}"></p>
							<a th:href="'/conference/'+${conference.id}" class="btn btn-primary">Show more details</a>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<th:block th:if="${conferences.size} == 0">
			<p class="lead">Oh, it's empty here. Let's create some conferences.</p>
			<p>
				<a href="/conference/create/step1" class="btn btn-primary">Create new Event</a>
			</p>
		</th:block>

	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>